#ide
/.vscode
/.idea

#modules
/node_modules
package-lock.json

#build
/build
/public/js
/public/css
/public/img
/public/libs
/tag-html-pages

#config and temp
.env

#logs
*.log

#static
/sitemaps
/assets/
/data/test

dev_serve.js
data/brokenUserError.json